body ,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'poppins',sans-serif;
    background: #fff;
    }
    h3{
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding-top: 10px ;
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    li{
        padding: 5px;
    } 
    .fa{
        font-size: 26px;
        transform: -4s;
    }
    .checked {
        color:#ff9f43
    } 
    .fa:hover{
        transform: scale(1.3);
        transition: -6s;

    }
    button{
        text-align: center;
        font-size: 24px;
        color: #fff;
        width: 100%;
        padding: 15px;
        border: 0;
        outline: none;
        cursor: pointer;
        margin-top: 5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px ;
    }
    .buy-0{
        background: darkorange;
    }
    .buy-1{
        background: darkorange;
    }
    .buy-2{
        background: darkorange;
    }.buy-4{
        background: darkorange;
    }.buy-3{
        background: darkorange;
    }.buy-5{
        background: darkorange;
    }.buy-6{
        background: darkorange;
    }.buy-7{
        background: darkorange;
    }.buy-8{
        background: darkorange;
    }.buy-9{
        background: darkorange;
    }
.buy-10{
    background: darkorange;
}
.buy-11{
    background: darkorange;
}.buy-12{
    background: darkorange;
}.buy-13{
    background: darkorange;
}.buy-14{
    background: darkorange;
}.buy-15{
    background: darkorange;
}.buy-16{
    background: darkorange;
}.buy-17{
    background: darkorange;
}

    .gallery{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }
    .content{
        width: 20%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22 );
        transition: -5s;
        background: transparent;
        border: 2px solid rgba(255,255, 255, .2);
        backdrop-filter: blur(20px);
         color: #fff;
        padding: 30px 40px;
          
          
    }
    .content:hover{
        box-sizing: 0 3px 6px rgba(0,0,0,0.16),
        0 3px 6px rgba(0,0,0,0.23);
        transform: translate(0px,-8px);
    }
   .content img{
        width: 160px;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    p{
        text-align: center;
        color: #666768 ;
        padding-top: 0 8px;
    }
    h6{
        font-size: 26px;
        text-align: center;
        color: #689edb;
        margin: 0;
    }
  
.navbar{
    width: 96%;
    margin: auto;
    padding: .2px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 80px;
    cursor: pointer;

}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #a26a21;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
    width: 100%;
}
  .banner {
    width: 100%; /* Ensure no extra space */
    height: 100v; /* Full viewport height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Image/Untitled1.jpg');
    background-size: cover; /* Ensure background image covers the area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
}


.background{
        
    background-size: cover;
    background-position: center;
    /*height: 100%;*/
    display: flex;
    height: 100vb;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px){
    .content{
        width: 45px;
    }
}

@media(max-width:750px){
    .content{
        width: 100%;
    }
}













