@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;

}
body,html{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Image/Untitled1.jpg');
    background-size: cover; /* تجعل الصورة تغطي كامل الشاشة */
    background-position: center; 
    background-repeat: no-repeat;
}

.Contact{
    width: 100;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Contact .content{
    max-width: 1800px;
    text-align: center;
}
.Contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

 .contact .content p{
    font-weight: 300;
    color: #fff;
}
